.skills__item {
    background-color: #202020;
    width: 290px;
    height: 240px;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
    border-radius: 4px;
    background-size: cover;
    overflow: hidden;
}
  
.skills__item:nth-of-type(2n) {
    margin-right: 0;
}
  
.skills__item:first-of-type, .skills__item:nth-of-type(2) {
    margin-top: 0;
}