.skills__block {
    border-radius: 5%;
    box-shadow: 0 0 10px rgb(255, 174, 201);
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    justify-self: center;
}