@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/menu/__link/menu__link.css);
@import url(../blocks/main-information/main-information.css);
@import url(../blocks/main-information/__photo/main-information__photo.css);
@import url(../blocks/main-information/__text/main-information__text.css);
@import url(../blocks/education-and-skills/education-and-skills.css);
@import url(../blocks/education-and-skills/__title/education-and-skills__title.css);
@import url(../blocks/education-and-skills/track/education-and-skills__track.css);
@import url(../blocks/skills/skills.css);
@import url(../blocks/skills/__item-subtitle/skills__item-subtitle.css);
@import url(../blocks/skills/__item-title/skills__item-title.css);
@import url(../blocks/skills/__item/skills__item.css);
@import url(../blocks/skills/__wrapper/skills__wrapper.css);
@import url(../blocks/skills/__wrapper/_option/skills__wrapper_option_python.css);
@import url(../blocks/skills/__wrapper/_option/skills__wrapper_option_java.css);
@import url(../blocks/skills/__wrapper/_option/skills__wrapper_option_sql.css);
@import url(../blocks/skills/__wrapper/_option/skills__wrapper_option_html-and-css.css);
@import url(../blocks/stack/stack.css);
@import url(../blocks/footer/footer.css);
