.gallery__photo_option_1 {
    background-image: url(../../../../images/1.JPG);
}
.gallery__photo_option_2 {
    background-image: url(../../../../images/2.JPG);
}
.gallery__photo_option_3 {
    background-image: url(../../../../images/3.JPG);
}
.gallery__photo_option_4 {
    background-image: url(../../../../images/4.JPG);
}
.gallery__photo_option_5 {
    background-image: url(../../../../images/5.JPG);
}
.gallery__photo_option_5 {
    background-image: url(../../../../images/5.JPG);
}
.gallery__photo_option_6 {
    background-image: url(../../../../images/6.jpg);
}
.gallery__photo_option_7 {
    background-image: url(../../../../images/7.jpg);
}
.gallery__photo_option_8 {
    background-image: url(../../../../images/8.jpg);
}
.gallery__photo_option_9 {
    background-image: url(../../../../images/9.jpg);
}
.gallery__photo_option_10 {
    background-image: url(../../../../images/10.JPG);
}
