.main-information__title {
    background-image: url(../../../images/title.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    scale: 3;
    height: 100px;
    width: 30%;
    margin: 20px auto;
}