.skills__item-title {
    width: 158px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    margin: 0;
    line-height: 30px;
    font-size: 30px;
    font-weight: normal;
    color:black;
}
.skills__item:hover .skills__item-subtitle {
    opacity: 1;
}